body {

	font-family: 'Lato';
	margin-top: 20%;
	text-align: center;
}
#clock {
	font-weight: 300;
	font-size: 100px;
	background-color: white;
}

h2 {

	font-family: 'Lato';
	font-weight: 100;
	margin-top: -4%;
}
.input[type=text] {

	text-align: center;

	width: 40%;
	-webkit-transition: width 0.9s ease-in-out;
	transition: width 0.9s ease-in-out;

}
input[type=text]:focus{
	width: 58%;
	text-align: center;
	font-family:"New Century Schoolbook", serif;


}
